body{
    background-image: url("../img/1.png");
    
    .wraper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 20%;
    font-weight: bold;
        .col{
            padding: 15px;
            width: 330px;
            height: 250px;
            border-bottom: 1px solid rgb(49, 43, 43);
            .title{
                font-size: 40px;
            }
            .mini-text{
                padding-top: 10px;
                padding-bottom: 15px;
                text-transform: uppercase;
            }
            .col-text{
                width: 300px;
            }
        }
    }
}
